<button
  class="button"
  [class.primary]="variant() === 'primary'"
  [class.secondary]="variant() === 'secondary'"
  [class.ghost]="variant() === 'ghost'"
  [class.danger]="variant() === 'danger'"
  [disabled]="disabled() || loading()"
  [type]="type()"
  (click)="handleClick()"
>
  @if (loading()) {
    <span>Cargando...</span>
  } @else {
    @if (icon()) {
      <mat-icon>
        {{ icon() }}
      </mat-icon>
    }

    <span class="button-label">
      {{ label() }}
    </span>
  }
</button>
