<nav class="navbar">
  <div class="navbar-title">
    <small>Gestión de citas médicas</small>
  </div>

  @if (user$ | async; as user) {
    <div class="navbar-user">
      <div class="user-information">
        <span class="user-name">
          {{ user.nombreCompleto }}
        </span>

        <span class="user-role">
          {{ user.rol }}
        </span>
      </div>

      <button type="button" class="logout-button" (click)="closeSession()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </div>
  }
</nav>
