<h2 mat-dialog-title>
  {{ isEditMode ? 'Editar médico' : 'Nuevo médico' }}
</h2>
<mat-dialog-content>
  <form [formGroup]="doctorForm">
    <mat-form-field appearance="outline">
      <mat-label>Nombre completo</mat-label>

      <input matInput formControlName="nombreCompleto" placeholder="Ingresa el nombre del médico" />

      @if (nombreCompleto.touched && nombreCompleto.hasError('required')) {
        <mat-error> El nombre completo es obligatorio. </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Especialidad</mat-label>

      <mat-select formControlName="especialidadId">
        @if (specialties$ | async; as specialties) {
          @for (specialty of specialties; track specialty.id) {
            <mat-option [value]="specialty.id">
              {{ specialty.nombre }}
            </mat-option>
          }
        }
      </mat-select>

      @if (especialidadId.touched && especialidadId.hasError('required')) {
        <mat-error> Selecciona una especialidad. </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>

      <mat-select formControlName="estado">
        <mat-option value="Activo"> Activo </mat-option>

        <mat-option value="Inactivo"> Inactivo </mat-option>
      </mat-select>

      @if (estado.touched && estado.hasError('required')) {
        <mat-error> Selecciona un estado. </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <app-button label="Cancelar" variant="stroked" />

  <app-button label="Guardar" type="submit" (clicked)="save()" />
</mat-dialog-actions>
