<h2 mat-dialog-title>
  {{ isEditMode() ? 'Editar médico' : 'Nuevo médico' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="doctorForm">
    <app-input
      label="Nombre completo"
      placeholder="Ingresa el nombre del médico"
      formControlName="nombreCompleto"
      [required]="true"
    >
    </app-input>

    <app-select
      label="Especialidad"
      placeholder="Selecciona una especialidad"
      formControlName="especialidadId"
      [required]="true"
      [options]="specialtyOptions()"
    >
    </app-select>

    <app-select label="Estado" formControlName="estado" [required]="true" [options]="statusOptions">
    </app-select>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <app-button label="Cancelar" variant="secondary" (clicked)="close()"> </app-button>

  <app-button
    [label]="isEditMode() ? 'Actualizar' : 'Guardar'"
    variant="primary"
    [disabled]="doctorForm.invalid"
    (clicked)="save()"
  >
  </app-button>
</mat-dialog-actions>
